/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Encabezado */
header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-size: 36px;
}

/* Menú de navegación */
nav {
    background-color: #092327;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #ef8354;
}

/* Secciones */
section {
    background-color: #fff;
    padding: 30px;
    margin: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
}

/* Pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    /* Ajustar el tamaño del texto en dispositivos más pequeños */
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 20px;
    }

    /* Rediseñar el menú para dispositivos móviles */
    nav ul {
        text-align: left;
    }
    nav ul li {
        display: block;
        margin: 10px 0;
    }
    nav a {
        padding: 10px 20px;
    }

    /* Rediseñar el formulario de contacto para dispositivos móviles */
    #contact-form {
        width: 80%;
    }
}

